*{
  margin: 0;
  padding: 0;

}
body{
  background-color: lightgray;
}

.card{
  background-color: white;
  width: 400px;
  margin: 16px auto;
  padding: 8px;
}
.title,.content,.button-container{
  background-color: #e3f4ff;
}

.title{
  padding: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}
.content{
  padding: 16px 8px;
  margin-bottom: 8px;
}
.button-container{
  text-align: center;
  padding: 8px;
}
button{
  background-color: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0.2px auto;
}
